<!--GalleryView-->
<alert></alert>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">Flickr Image Gallery</a>
</nav>
<main class="container" role="main">
    <h1 class="mt-5 mb-5 text-center">Flickr Gallery Search</h1>
    <div class="row">
        <div class="col-lg-12">
            <form>
                <div class="input-group input-group-lg">
                    <input nametype="text" class="form-control" placeholder="Search for photos..." ng-model="search.tag">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary text-uppercase" ng-click="search(search.tag)" type="submit">search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <loader text="Loading" ng-if="isLoading"></loader>
    <div class="row" ng-if="!isLoading">
        <div class="col-lg col-lg-12 mt-5 text-center" ng-repeat="photo in recent.photo" ng-if="!gallery.photo">
            <h5 class="img-thumbnail__title">{{photo.title}}</h5>
            <img class="img-thumbnail" ng-src="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" alt="{{photo.id}}" role="img" />
        </div>
        <h4 class="col-lg col-lg-12 mt-4 mb-3" ng-if="searchResultsText">
            Search results: "<span class="font-weight-bold">{{searchResultsText}}</span>"
        </h4>
        <div class="col-lg col-lg-12 mt-5 mb-3" ng-if="mostRecentText">
            <h2 class="mb-5">Not found. Type in keyword to search for photos.</h2>
            <h4>{{mostRecentText}}</h4>
        </div>
        <div class="col-sm col-sm-3" ng-repeat="photo in gallery.photo">
            <img class="img-thumbnail" ng-src="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" alt="{{photo.id}}" role="img" />
            <h5 class="img-thumbnail__title">{{photo.title}}</h5>
        </div>
    </div>
</main>