//
// Bootstrap's Core
// --------------------------------------------------
@import "../lib/bootstrap/scss/bootstrap";

//
// Loaders.css's Core
// --------------------------------------------------
@import "../lib/loaders.css/src/loaders";

/*=================================================*/
//= Mixins
/*=================================================*/

@mixin absolute($top, $left, $bottom, $right) {
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    position: absolute;
}

@mixin absolute-center($width, $height, $top, $left, $bottom, $right) {
    width: $width;
    height: $height;
    margin-left: auto;
    margin-right: auto;
    @include absolute($top, $left, $bottom, $right);
}

/*=================================================*/
//= Structure
/*=================================================*/
.img-thumbnail__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*=================================================*/
//= Miscellaneous/Extras
/*=================================================*/
//alert
.alert {
    z-index: 1000;
    text-align: center;
    @include absolute-center(400px, auto, -3px, 0, inherit, 0);

    .close {
        margin-bottom: -24px;
    }
}

//loader
.loader {
    margin-top: 40px;
    max-width: 100%;
    height: 130px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;

    .loader-inner {
        &.ball-scale-multiple > div {
            background: blue;
        }
    }
}
